#container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-content: space-around; */
}


#container > div {
    /* border-color: black; */
    /* border-style: solid; */
    /* border-width: .1px; */
    /* background-color: grey; */
    justify-content: space-around;
    /* margin: .2px; */
}

.touched {
    background-color: blue;
}

.user-input {
    margin-bottom: 30px;
}